body {
  overflow-y: hidden;
}

/* CSS for new templates */

/* Minimalist */

[class*="appbar"] {
  box-shadow: none;
}

/* items */
header div div div nav div ul div li a[class*="makeStyles-item-"] {
  border-radius: 0;
  padding: 4px 8px;
  border: 1px solid #aeaeae;
}

/* Folder */
header div div div nav div ul div li div[class*="makeStyles-item-"] {
  border-radius: 0;
  padding: 4px 8px;
  border: 1px solid #aeaeae;
}

[class*="footerNavBar"] div div div nav div ul div li a {

}

[class*="globalSettings"] {

}

[class*="appBarTitle"] {
  flex-grow: 0;
}

/* Centrist */

/* CENTRIST
  [class*="headerToolbar"] {
    flex-direction: column;
  }
*/

/* Sideshow */

/* Business */
