body, html, #_nocode_root {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
  font-family: "Roboto";
}

.layout-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.layout-header {
  height: 80px;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: row;
}

.layout-header-logo {
  margin-left: 10px;
  flex-grow: 0;
}

.layout-header-navbar {
  flex-grow: 1;
}

.layout-container {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.layout-sidebar {
  height: 100%;
  flex-grow: 0;
  width: 300px;
}

.layout-main {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.layout-content {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.document-container {
  max-width: 860px;
  min-width: 860px;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.26); 
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.26);
}

.layout-footer {
  padding: 20px;
  height: 60px;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.layout-footer .copyright {
  flex-grow: 0;
}

.layout-footer .navbar {
  flex-grow: 1;
}
